.item {
  background-color: rgb(141, 141, 162);
  padding-top: 0.5rem;
  margin-bottom: 10px;
  height: 6rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.image {
  flex-grow: 0.4;
  padding-left: 0.5rem;
  display: flex;
}
.image img {
  height: 100%;
}
.image .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.description {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  flex-grow: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.name {
  flex-grow: .7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1rem;
}
.name span {
  max-height: 1.4rem;
  overflow: hidden;
}

.for_whom {
  flex-grow: 1;
  display: flex;
  font-size: .9rem;
  height: 2rem;
}
.for_whom span {
  height: fit-content;
  padding-top: 1rem;
  max-height: 2.2rem;
  overflow: hidden;
}
.for_whom span:nth-child(2),
.for_whom span:nth-child(3) {
  margin-left: 1rem;
}
.actions {
  width: 40px;
  padding-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.actions button{
  cursor: pointer;
  border: none;
  height: 2rem;
  width: 2rem;
  background-color: white;
  color: rgb(141, 141, 162);
  font-weight: bold;
  font-size: 1.3rem;
}
.actions button:hover{
  background-color: rgb(141, 141, 162);
  color: white;
  border: 1px solid white;
  transition: .5s;
}