.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(141, 141, 162);
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    height: 8vh;
    min-width: 520px;
}

.logo{
    width: 25%;
    background-color: rgb(60, 110, 203);
    text-align: center;
}

.logo:hover{
    background-color: rgba(10, 65, 183, .8);
    transition: .3s;
}

.logo a{
    color: white;
    line-height: 8vh;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}
.logo a:last-child{
    display: none;
}

.navigation{
    width: 50%;
    justify-content: space-around;
    display: flex;
}

.navigation div{
    min-width: 80px;
    line-height: 8vh;
    text-align: center;
    width: 17%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation div:hover{
    background-color: rgba(0,0,0,.2);
    font-size: 1.2rem;
    transition: .3s;
}

.navigation a{
    color: white;
    text-decoration: none;
}

.cart{
    width: 20%;
}

.altLogo{
    display: none;
}

.logout{
    width: 5%;
    text-align: center;
    padding: 1vh;
}

.logout button{
    cursor: pointer;
    border-radius: 25px;
    display: block;
    width: 6vh;
    height: 6vh;
    border: none;
    margin: 0 auto;
    background-color:rgb(60, 110, 203) ;
    font-weight: bold;
}
.logout button:hover,
.logout button:active
{
    background-color: #0d4cc2;
}

.logout img{
    width: 60%;
    height: 60%;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;
}


  @media only screen and (max-width:1300px){
    .logout{
        width: 10%;
    }
  }
  @media only screen and (max-width:945px){
    .logo a:first-child{
        display:none
    }
    .logo a:last-child{
        display: block;
    }
  }
  @media only screen and (max-width:600px){
    .logout{
        width: 15%;
    }
  }
