.button {
  height: 6vh;
  margin-top: 1vh;
  margin-left: 1.8rem;
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(60, 110, 203);
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #0d4cc2;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  background-color: #004176;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #001f40;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1440px){
  .name{
    display: none;
  }
}
@media only screen and (max-width:1020px){
  .button{
    margin-left: 0;
  }
}
@media only screen and (max-width:924px){
  .button{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .badge{
    margin-left: 0;
  }
}


