.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(141, 141, 162);
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    height: 8vh;
    min-width: 770px;
}

.logo{
    width: 25%;
}
.logo p{
    color: white;
    line-height: 8vh;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation{
    width: 50%;
    justify-content: space-around;
    display: flex;
}

.navigation div{
    line-height: 8vh;
    text-align: center;
    width: 25%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.cart{
    width: 20%;
}


