.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 85vh;
  width: 95%;
  max-width: 1560px;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: auto;
}

.letter {
  padding: 3rem;
  height: 49%;
  background-color: rgb(60, 110, 203);
  color: white;
  border-radius: 50px;
}
.container p {
  height: 80%;
  text-align: justify;
  overflow-y: scroll;
  padding-right: 1rem;
}
.container h1{
    margin-bottom: 1rem;
}
.about_us {
    display: flex;
  height: 49%;
  justify-content: space-between;
}

.story{
    width: 49%;
    background-color: rgb(141, 141, 162);
    padding: 3rem;
    color: white;
    border-radius: 50px;
}

.members{
    width: 49%;
    background-color: rgb(141, 141, 162);
    background-image: url('https://img.redbull.com/images/c_fill,w_1200,h_600,g_auto,f_auto,q_auto/redbullcom/2015/04/04/1331715137394_2/marcel-hirscher-colours-making-of');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    color: white;
    border-radius: 50px;
}

.container section p::-webkit-scrollbar {
  width: 10px;
}
.container section p::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}
