.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 85vh;
  width: 95%;
  max-width: 1560px;
  margin: 0 auto;
  margin-top: 1rem;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48.5%;
}

.new_bikes {
  height: 100%;
}

.accessories,
.articles {
  height: 47.5%;
}