:root{
    --containerHeight: 70vh;
    --containerWidth: 30vw;
}
.container{
    min-width: 260px;
    min-height: 350px;
    position: absolute;
    border-radius: 25px;
    top: calc(50vh - var(--containerHeight) / 2 );
    left: calc(50vw - var(--containerWidth) / 2 );
    background-color: whitesmoke;
    height: var(--containerHeight);
    width: var(--containerWidth);
}
.title{
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    background-color: rgb(60, 110, 203);
    height: calc(0.12 * var(--containerHeight));
    text-align: center;
}
.title p{
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: .3rem;
}
.icon{
    display: flex;
    flex-direction: column;
    height:calc(0.21 * var(--containerHeight)) ;
    justify-content: space-around;
}

.iconBackground{
    background-color: rgb(60, 110, 203);
    margin-left: calc(50% - 6vh);
    width:12vh;
    height:12vh;
    border-radius: 6vh;
    padding: .1rem;
    position: relative;
}
.iconBackground img{
    position: absolute;
    width: 80%;
    height: 80%;
    top:1.2vh;
    left: 1.2vh;
}

.form{
    display: flex;
    justify-content: space-around;
    height:calc(0.5 * var(--containerHeight)) ;
}
.form form{
    display: block;
    flex-grow: 0.5;
}

.button{
    text-align: right;
}
.error{
    background-color: red;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}

.form button{
    background-color: rgb(60, 110, 203);
    height: 4rem;
    width: 8rem;
    border: none;
    border-radius: 30px;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.form button:hover{
    background-color: #0d4cc2;
}

button.invalid{
    background-color: rgb(152, 152, 152);
    cursor:not-allowed;
}
button.invalid:hover{
    background-color: rgb(152, 152, 152);
}
@media only screen and (max-height: 800px){
    .icon{
        height:calc(0.2 * var(--containerHeight)) ;
    }
    .formItem label{
        font-size: 1rem;
    }
    .formItem input{
        height: 2.3rem;
    }
    .form button {
        height: 3rem;
        width: 7rem;
    }
}
@media only screen and (max-height: 700px){
    .icon{
        display: none;
    }
}
@media only screen and (max-height: 600px){
    .formItem{
        padding: .2rem;
    }
    .title p{
        font-size: 1.5rem;
    }
}
