.formItem{
    padding: 1rem;
}

.formItem label{
    color: rgb(60, 110, 203);
    display: block;
    font-size: 1.5rem;
}

.formItem input{
    display: block;
    height: 2.5rem;
    width: 100%;
    border-radius: 20px;
    border: 2px solid rgb(60, 110, 203);
    margin-top: 1rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}
input.invalid{
    background-color: rgb(244, 201, 201);
    border-color: red;
}

p.invalid{
    color: red;
    background-color: transparent;
}